<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Acacia Meet</title>
<link href="/static/img/boom.ico" rel="icon" type="image/x-ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
<script src="/static/js/fetch.js"></script>
<style>
html,body,#map {
	height: 100%;
	margin: 0;
	padding: 0;
}
table { border: 1px solid white; }
td:first-child { font-weight: bold; }
tr:nth-child(odd) { background: Azure; }
</style>
<script>
var map;
function initialize() {
	var gouda = new google.maps.LatLng(52.0214027778, 4.710125);
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{zoomlevel|default:12}},
        center: gouda,
        mapTypeId: google.maps.MapTypeId.{{maptype|default:'SATELLITE'}}
    });
    fetchPoints('/api/v1/meting/', map);
}

$(function(){initialize();});
</script>
</head>
<body>
<div id='map'></div>
</body>
</html>
